body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/121/723/original/food.jpeg?1712231611");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: #128240;
}

a:hover {
  color: rgb(30, 173, 20);
}

.container {
  margin: 65px auto;
  max-width: 600px;
}

header {
  margin-bottom: 5px;
}

h1 {
  font-weight: 800;
  line-height: 2;
  font-size: 45px;
  color: rgb(29, 134, 102);
  text-align: center;
}

h1:hover {
  color: #22c217;
}

.form-container {
  background-color: whitesmoke;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.2);
  padding: 15px 20px;
}

form {
  display: flex;
}

.user-hint {
  line-height: 1.5;
  font-size: 13px;
  margin-top: 5px;
  opacity: 0.6;
}

.instructions {
  padding: 15px;
  border: 2px solid #22c217;
  width: 80%;
  font-size: 15px;
  border-radius: 15px;
  line-height: 15px;
}

.submit-button {
  margin-left: 10px;
  background: #22c217;
  color: white;
  border: none;
  font-weight: 500;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 16px;
  width: 100px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.submit-button:hover {
  background: #128240;
  cursor: pointer;
}

.recipe {
  font-size: 15px;
  background-color: whitesmoke;
  padding: 20px;
  line-height: 1.5;
  border-radius: 15px;
  border-left: 3px solid rgb(27, 198, 50);
  border-right: 3px solid rgb(27, 198, 50);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.09);
}

.hidden {
  display: none;
}

.recipe strong {
  color: goldenrod;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
